@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');




#container {
    margin-top: 600px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    min-height: 3000px;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.6s;
    padding-bottom: 30px;
}

#wiadomosc{
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(218, 218, 218);
    outline: none;
    resize: none;
}

#btn{
    border-radius: 7px;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    cursor: pointer;
}

#email, #name{
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(218, 218, 218);
    outline: none;
}

#scoreList li{
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    margin: 30px 30px 30px 30px;
    font-size: 20px;
}













*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000000;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky{
    padding: 5px 100px;
    background: #fff;
}

header.sticky1{
    padding: 5px 100px;
    background: rgb(209, 209, 209);
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}


header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transform: 0.6s;
}

header.sticky .logo,
header.sticky ul li a{
    color: #000;
}

ol .scoreList{
    color: #fff;
}










.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
}

.kontakt{
    background-color: #fff;
    border-radius: 20px;
    margin-right: 40%;
    margin-left: 10%;
    color: #000;
}

.title_banner{
    border-radius: 20px;
    font-size: 5vh;
    text-align: center;
    transition: 0.6s;
}

.opis_banner{
    border-radius: 20px;
    font-size: 2vh;
    text-align: center;
    transition: 0.6s;
}

.text{
    background-color: #fff;
    border-radius: 20px;
    margin-left: 35%;
    margin-right: 35%;
    transition: 0.6s;
}

.text h3{
    font-size: 25px;
    color: #000;
    margin-left: 5%;
    margin-right: 5%;
    transition: 0.6s;
    text-align: center;
}

.images_false{
    border-radius: 20px;
    margin-left: 15%;
    margin-right: 58.8%;
    margin-top: -45px;
    transition: 0.6s;
    max-width: 500px;
    min-width: 500px;
}

.images_false img{
    height: 500px;
    border-radius: 20px;
    margin-top: -35px;
    transition: 0.6s;
}

.images_false h2{
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    transition: 0.6s;
}

.images_true{
    border-radius: 20px;
    margin-left: 56%;
    margin-right: 17.8%;
    margin-top: -435px;
    transition: 0.6s;
    max-width: 500px;
    min-width: 500px;
}

.images_true img{
    height: 500px;
    border-radius: 20px;
    margin-top: -35px;
    transition: 0.6s;
}

.images_true h2{
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    transition: 0.6s;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

.info2{
    background-color: #fff;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 500px;
}

.opis{
    font-size: 16px;
    text-align: left;
    display: flex;
}

.opis h2{
    margin: 30px 30px 30px 30px;
}

.opis img{
    height: 300px;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
}

.tytul{
    margin-top: 30px;
    margin-left: 30px;
}

.tytul h1{
    font-size: 35px
}

.tytul1{
    margin-top: 30px;
    margin-left: 30px;
    transition: 0.6;
}

.tytul1 h1{
    font-size: 35px
}

.opis1{
    text-align: left;
    transition: 0.6;
}

.opis1 h2{
    margin-top: 30px;
    font-size: 24px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 600;
    transition: 0.6;
    text-align: center;
}

.opis1 h3{
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 600;
    transition: 0.6;
    text-align: center;
}

.opis1 img{
    margin-left: 30px;
    transition: 0.6;
    height: 90%;
    width: 90%;
    object-fit: contain;
    border-radius: 20px;
}

.przyklady{
    margin: auto;
    width: 50%;
    transition: 0.6;
}

.container_footer{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.row ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(209, 209, 209);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.messageSend{
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 10px 10px 10px;
}

.boxes span, .boxes input{
    font-size: 20px;
}

.boxes input{
    padding: 5px 5px 5px 5px;
}

.alertComment{
    font-size: 16px;
    display: none;
}






















@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}



















@media only screen and (max-width: 1085px) {
    .opis{
        display: block;
    }
}

@media only screen and (max-width: 1192px) {
    .info2{
        margin-right: 150px;
    }
}

@media only screen and (max-width: 1560px) {
    .text{
        margin-left: 5%;
        margin-right: 5%;
    }

    .images_false{
        border-radius: 20px;
        margin-left: 5%;
        margin-top: 20px;
        margin-right: 862px;
    }
    
    .images_false img{
        height: 500px;
        border-radius: 20px;
        margin-top: -35px;
    }
    
    .images_false h2{
        background-color: #fff;
        border-radius: 20px;
        text-align: center;
    }
    
    .images_true{
        border-radius: 20px;
        margin-left: 56%;
        margin-right: 17.8%;
    }
    
    .images_true img{
        height: 500px;
        border-radius: 20px;
        margin-top: -35px;
    }
    
    .images_true h2{
        background-color: #fff;
        border-radius: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 1153px) {
    .images_false{
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 45%
    }

    .images_true{
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 45%
    }
}

@media only screen and (max-width: 1165px) {
    .kontakt{
        background-color: #fff;
        border-radius: 20px;
        margin-right: 20%;
        margin-left: 10%;
        color: #000;
    }
    
    .title_banner{
        border-radius: 20px;
        font-size: 5vh;
        text-align: center;
    }
    
    .opis_banner{
        border-radius: 20px;
        font-size: 2vh;
        text-align: center;
    }
}


@media only screen and (max-width: 1153px) {
    #container {
        margin-top: 1000px;
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media only screen and (max-width: 1500px) {
    .przyklady{
        display: block;
    }
}

@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
}

@media(max-width: 574px){
  .footer-col{
      width: 100%;
  }
}

























::-webkit-scrollbar {
    width: 10px;
}
    
::-webkit-scrollbar-track {
    background: rgb(5, 5, 5);
}
     
::-webkit-scrollbar-thumb {
    background: rgb(27, 27, 27);
    border-radius: 12px;
}
    
::-webkit-scrollbar-thumb:hover {
    background: rgb(34, 34, 34); 
}