<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Obróbka Zdjęć | Dogepiesio</title>

    <!--Css-->
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase.js"></script>
    <script src="../js/Niespodzianka.js"></script>
    <script src="../js/header_autoscroll_Load.js"></script>

    <!--Ikona-->
    <link rel="icon" href="../images/icon.png">

    <!--Preview-->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dogender2.github.io/Obrabianie-zdjec/index.html">
    <meta property="og:title" content="Obróbka Zdjęć | Dogepiesio">
    <meta property="og:description" content="Strona internetowa dotycząca obróbek zdjęć w photoshopie">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/912769582610141254/912769645533098074/home_pc.png">
    <meta property=”og:locale” content=”pl_PL” />
    <meta property="og:site_name" content="Dogepiesio | Obróbka">
</head>

<body>
    <div class="wrapper">

    <script type="text/javascript">
        if ($(window).width() < 994) {
            window.location = "../mobile/komentarze.html";
        }
    </script>




    <header>
        <a onclick="counter()" href="#" class="logo">Obróbka Dogepiesio</a>

        <ul>
            <li>
                <a href="../index.html">Strona Główna</a>
                <a href="o_mnie.html">O Mnie</a>
                <a href="kontakt.html">Kontakt</a>
                <a href="komentarze.html">Komentarze</a>
            </li>
        </ul>
    </header>

    <section class="banner">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    <div class="messageSend">
        <div class="title">
            <h1>Komentarz</h1>
        </div>

        <div class="boxes">
            <span>Nazwa: </span><input placeholder="Nazwa" id="name" required type="email"><br />
            <span>Email: </span><input placeholder="Email" id="email" required type="email"><br />
            <span id="YourMessage" style="position: absolute;">Twój Komentarz:</span>
            <textarea name="wiadomosc" id="wiadomosc" cols="50" rows="8" placeholder="Komentarz..."></textarea>
            <br />
            <button onclick="sendMessage()" id="btn" type="submit" onclick="sendMessage()">Skomentuj</button>
        </div>
    </div>

    <p>
        <ol id="scoreList">
        </ol>
    </p>  

    </section>

    <!--Loading screen na początku-->
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
</div>

</body>
<script src="../js/com.js"></script>
</html>