<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Obróbka Zdjęć | Dogepiesio</title>

    <!--Css-->
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="../js/Niespodzianka.js"></script>
    <script src="../js/header_autoscroll_Load.js"></script>

    <!--Ikona-->
    <link rel="icon" href="../images/icon.png">
    
    <!--Preview-->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dogender2.github.io/Obrabianie-zdjec/index.html">
    <meta property="og:title" content="Obróbka Zdjęć | Dogepiesio">
    <meta property="og:description" content="Strona internetowa dotycząca obróbek zdjęć w photoshopie">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/912769582610141254/912769644174135366/kontakt_pc.png">
    <meta property=”og:locale” content=”pl_PL” />
    <meta property="og:site_name" content="Dogepiesio | Obróbka">
</head>

<body>
    <div class="wrapper">

    <script type="text/javascript">
        if ($(window).width() < 994) {
            window.location = "../mobile/kontakt.html";
        }
    </script>




    <header>
        <a onclick="counter()" href="#" class="logo">Obróbka Dogepiesio</a>

        <ul>
            <li>
                <a href="../index.html">Strona Główna</a>
                <a href="o_mnie.html">O Mnie</a>
                <a href="kontakt.html">Kontakt</a>
                <a href="komentarze.html">Komentarze</a>
            </li>
        </ul>
    </header>

    
    <section class="banner">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="kontakt">
            <div class="title_banner">
                <h1>Chcesz się do mnie zgłosić po pomoc ze zdjęciem?</h1>
            </div>
        
            <div class="opis_banner">
                <h2>
                    Po pomoc możesz do mnie napisać na:<br />
                    dogepeisiophotoshopper@gmail.com
                </h2>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container_footer">
            <div class="row">
                <div class="footer-col">
                    <h4>Informacje</h4>
                    <ul>
                        <li><a href="../index.html">Strona Główna</a></li>
                        <li><a href="o_mnie.html">O mnie</a></li>
                        <li><a href="kontakt.html">Kontakt</a></li>
                        <li><a href="komentarze.html">Komentarze</a></li>
    
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Github</h4>
                    <ul>
                        <li><a href="https://github.com/Dogender2">Profil Github</a></li>
                        <li><a href="https://github.com/Dogender2/Obrabianie-zdjec">Kod źródłowy</a></li>
    
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Media Społecznościowe</h4>
  	 			    <div class="social-links">
  	 			    	<a href="https://www.instagram.com/pies_z_sluchawkami/"><i class="fab fa-instagram"></i></a>
  	 			    	<a href="https://www.youtube.com/channel/UCRPJlSz95XwdiLkizVsfesA"><i class="fab fa-youtube"></i></a>
  	 			    </div>
                </div>

            </div>
        </div>
    </footer>


    <!--Loading screen na początku-->
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
</div>

</body>
</html>