<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Obróbka Zdjęć | Dogepiesio</title>

    <link rel="stylesheet" href="../style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!--Preview-->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dogender2.github.io/Obrabianie-zdjec/index.html">
    <meta property="og:title" content="Obróbka Zdjęć | Dogepiesio">
    <meta property="og:description" content="Strona internetowa dotycząca obróbek zdjęć w photoshopie">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/832516213115584522/912382435646406656/unknown.png">
</head>

<body>
    <script type="text/javascript">
        if ($(window).width() < 994) {
            window.location = "mobile/index-mobile.html";
        }
    </script>

    <header>
        <a href="#" class="logo">Obróbka Dogepiesio</a>

        <ul>
            <li>
                <a href="../index.html">Strona Główna</a>
                <a href="o_mnie.html">O Mnie</a>
                <a href="kontakt.html">Kontakt</a>
            </li>
        </ul>
    </header>

    <section class="banner">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="kontakt">
            <div class="title_banner">
                <h1>Chcesz się do mnie zgłosić po pomoc ze zdjęciem?</h1>
            </div>
        
            <div class="opis_banner">
                <h2>
                    Po pomoc możesz do mnie napisać na:<br />
                    dogepeisiophotoshopper@gmail.com
                </h2>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        window.addEventListener("scroll", function(){
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        })
    </script>
</body>
</html>