<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Obróbka Zdjęć | Dogepiesio</title>

    <link rel="stylesheet" href="../style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <link rel="icon" href="../images/icon.png">

    <!--Preview-->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dogender2.github.io/Obrabianie-zdjec/index.html">
    <meta property="og:title" content="Obróbka Zdjęć | Dogepiesio">
    <meta property="og:description" content="Strona internetowa dotycząca obróbek zdjęć w photoshopie">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/912769582610141254/912769644954259497/o_mnie_pc.png">
    <meta property=”og:locale” content=”pl_PL” />
    <meta property="og:site_name" content="Dogepiesio | Obróbka">
</head>

<body>


    
    <div class="wrapper">



    <script type="text/javascript">
        if ($(window).width() < 994) {
            window.location = "../mobile/o_mnie.html";
        }
    </script>

    <header>
        <a onclick="counter()" href="#" class="logo">Obróbka Dogepiesio</a>

        <ul>
            <li>
                <a href="../index.html">Strona Główna</a>
                <a href="o_mnie.html">O Mnie</a>
                <a href="kontakt.html">Kontakt</a>
            </li>
        </ul>
    </header>

    <script>
        var clicks = 0;
        
        function counter(){
            clicks += 1;
            
            if(clicks === 5)
            {
                $(".logo").text("AŁA!!! To boli.");
            }

            if(clicks === 10)
            {
                $(".logo").text("Nie bij!");
            }

            if(clicks === 15){
                $(".logo").text("Musisz tak mocno klikać?");
            }

            if(clicks === 20){
                $(".logo").text("Czyję się molestowany.");
            }

            if(clicks === 25){
                $(".logo").text("Właściwie. Na co ty liczysz?");
            }
            
            if(clicks === 30){
                $(".logo").text("Jeszcze raz mnie klikniesz tooo...");
            }
            
            if(clicks === 31){
                $(".logo").text("Noo kurdeeee!!!");
            }

            if(clicks === 35){
                $(".logo").text("Denerwujesz mnie.");
            }

            if(clicks === 40){
                Ups();
                $(".logo").text("Widzisz co zrobiłeś?");
            }

            if(clicks === 45){
                Ups2();
                $(".logo").text("Psuja :P");
            }

            if(clicks === 50){
                location.reload();
            }
        }

        function Ups(){
            $(".wrapper").css("transform", "rotate(90deg)");
            $(".wrapper").css("transform-origin", "bottom left");
            $(".wrapper").css("position", "absolute");
            $(".wrapper").css("top", "-100vw");
            $(".wrapper").css("left", "0");
            $(".wrapper").css("height", "100vw");
            $(".wrapper").css("width", "100vh");
            $(".wrapper").css("overflow", "auto");
        }

        function Ups2(){
            $(".wrapper").css("transform", "rotate(180deg)");
            $(".wrapper").css("height", "100vh");
            $(".wrapper").css("width", "100vw");
            $(".wrapper").css("position", "absolute");
            
            $(".wrapper").css("transform-origin", "top left");
            $(".wrapper").css("top", "100%");
            $(".wrapper").css("left", "100%");
        }
    </script>

    <section class="banner">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="info2">
            <div class="tytul">
                <h1>Jestem Dogepiesio!</h1>
            </div>
            <div class="opis">
                <h2>
                    Mam 14 lat, potrafię Photoshopa i chcę pomagać osobom, które chcą coś zmienić na swoich zdjęciach całkowicie za darmo. Robię to ze względu na chęć zyskania wyzwania oraz ćwiczenia moich umiejętności. W sekcji kontakt możesz znaleźć kontakt do mnie.
                </h2>
                <img src="../images/preview.jpg">
            </div>
        </div>
    </section>

    <!--Loading screen na początku-->
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    
    <script type="text/javascript">
        window.addEventListener("scroll", function(){
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        })

        //Load
        $(window).on("load",function(){
            $(".loader-wrapper").fadeOut("slow");
        });
    </script>


    </div>
</body>
</html>