<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Obróbka Zdjęć | Dogepiesio</title>

    <link rel="stylesheet" href="../style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <link rel="icon" href="../images/icon.png">

    <!--Preview-->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dogender2.github.io/Obrabianie-zdjec/index.html">
    <meta property="og:title" content="Obróbka Zdjęć | Dogepiesio">
    <meta property="og:description" content="Strona internetowa dotycząca obróbek zdjęć w photoshopie">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/912769582610141254/912769644954259497/o_mnie_pc.png">
</head>

<body>
    <script type="text/javascript">
        if ($(window).width() < 994) {
            window.location = "../mobile/o_mnie.html";
        }
    </script>

    <header>
        <a href="#" class="logo">Obróbka Dogepiesio</a>

        <ul>
            <li>
                <a href="../index.html">Strona Główna</a>
                <a href="o_mnie.html">O Mnie</a>
                <a href="kontakt.html">Kontakt</a>
            </li>
        </ul>
    </header>

    <section class="banner">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="info2">
            <div class="tytul">
                <h1>Jestem Dogepiesio!</h1>
            </div>
            <div class="opis">
                <h2>
                    Mam 14 lat, potrafię Photoshopa i chcę pomagać osobom, które chcą coś zmienić na swoich zdjęciach całkowicie za darmo. Robię to ze względu na chęć zyskania wyzwania oraz ćwiczenia moich umiejętności. W sekcji kontakt możesz znaleźć kontakt do mnie.
                </h2>
                <img src="../images/preview.jpg">
            </div>
        </div>
    </section>

    <!--Loading screen na początku-->
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    
    <script type="text/javascript">
        window.addEventListener("scroll", function(){
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        })

        //Load
        $(window).on("load",function(){
            $(".loader-wrapper").fadeOut("slow");
        });
    </script>
</body>
</html>